*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
.container{
    width:100%;
    height: auto;
    font-family: Segatha;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #6e2a32;
    overflow: hidden;
}
.banner{
    width:100%;
    height: 650px;
    background-image: url(https://asianwiki.com/images/6/65/Marriage_Plot-0002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 0 0 400px 0;
    opacity: 0.75;
}

.nav{
    width:90%;
    height: auto;
    background-color: #6e2a32;
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav b{
    color: #d2b58d;
    font-size: 40px;
    margin-left: 30px;
}
.menu{
    width:50%;
    height: 60px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    transition-duration: .5s;
}
.menu a{
    text-decoration: none;
    font-size: 30px;
    color:#d2b58d;
    font-weight: bolder;
    transition-duration: 0.3s;
}
.menu a:hover{
    border-bottom: 5px solid #d2b58d;
}
.text{
    width:100%;
    position: relative;
    top:40px;
    left: 20px;
    font-size: 50px;
    text-align: left;
}
.text h1{
    color:#d2b58d;
    text-shadow: 0 3px 10px rgba(0,0,0,.5);
}
.text .date{
    color:#d2b58d;
    background-color: #6e2a32;
    padding: 12px;
    border-radius: 40px 0 40px 0;
    transition-duration: .5s;
}
.text .date:hover{
    background-color: #d2b58d;
    color:#6e2a32;
}
.section{
    width:100%;
    height: auto;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.us{
    width:80%;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.us img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border-top: 5px solid #6e2a32;
    border-bottom: 5px solid #6e2a32;
    border-left: 5px solid #6e2a32;
    border-right: 5px solid #6e2a32;
    margin-bottom: 20px;
}
.section h2{
    width:100%;
    text-align: center;
    color: #6e2a32;
    font-size: 60px;
}
.us1 {
    display: flex;
    flex-direction: column;
}
.us1 span{
    color:#d2b58d;
    font-size: 40px;
    padding: 8px;
    background-color: #6e2a32;
    border-radius: 8px;
    text-align: center;
}
.venue{
    width:80%;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.venue img{
    width:50%;
    height: 300px;
    display: inline;
    border:2px solid #6e2a32;
    border-radius: 8px;
    margin-bottom: 10px;
}
.venue p{
    font-size: 35px;
    line-height: 30px;
    color:#333;
}

.photo{
    width:80%;
    height: 600px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
.photo img{
    width:50%;
    height: 300px;
    display: inline;
    border:2px solid #6e2a32;
    border-radius: 8px;
    margin-bottom: 10px;
}
.photo p{
    font-size: 35px;
    line-height: 30px;
    color:#333;
}