body{
    color: #333;
    width: 100%;
    font-family: Garet, Montserrat Classic;
    margin: auto;
    background-image: url(https://images.wallpaperscraft.com/image/single/northern_lights_aurora_road_132188_1600x900.jpg);
    opacity: 85%;
}

.header{
    width: 90%;
    margin: auto;
    height: 120px;
    line-height: 120px;
    background: #000;
    color: #fff;
    text-align: center;
}

.menu{
    background-color: #737373;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 90%;
    margin: auto;
    padding: auto;
}

.konten{
    width: 90%;
    margin: auto;
    height: 420px;
    padding: 0.1px;
    background: #fff;
    color: #333;
}

.kiri{
    width: 60%;
    float: left;
    margin: auto;
    background: #fff;
    height: 420px;
    padding-left: 2pc;
}

.kanan{
    width: 20%;
    float: left;
    margin: auto;
    background: #fff;
    height: 420px;
    padding-left: 2pc;
}

.kanan p a{
    color: #333;
    display: block;
}

.border{
    border: 2px solid #C41414;
    margin-top: 1pc;
    padding-left: 2pc;
    padding-right: 2pc;
    padding-bottom: 1pc;
}

.undecor{
    text-decoration: none;
}

.menu ul{
    list-style: none;
    
}

.menu ul li a{
    float: left;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding-right: 2pc;
    padding-left: 2pc;
    text-align: center;
}

.menu ul li a:hover{
    background-color: #C41414;
    display: block;
}

.footer{
    width: 85%;
    margin: auto;
    line-height: 40px;
    background-color: #000;
    color: #fff;
    padding-left: 2pc;
    padding-right: 2pc;
}